<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>view - index</title>
	<link type="image/x-icon" href="../../assets/images/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" type="text/css" href="./index.scss">


</head>
<body>
	我是index
    {{!-- {{> cmpName}} --}}
</body>
<script type="text/javascript" src="../../libs/common.js"></script>
<script type="text/javascript" src="./index.js"></script>

</html>
